.DriverCard{
  width: 60rem;
  height: 13rem;
  background-color: rgb(73, 73, 218);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: aliceblue;
  display: flex;


}

.DriverCard img{
  width: 10rem;
  height:9.5rem;
  border-radius: 50%;
 
}

.infoBox{
margin-left: 18rem;
display: flex;
align-items: center;

}

.info{
  margin-left: 10px;
}
.info p{
margin: 0;
font-size: 35px;
font-weight: bold;

 
}